*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: underline;
}
